root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.py]
indent_size = 4
indent_style = space
max_line_length = 88

[{CMakeLists.txt, *.cmake}]
indent_size = 2
indent_style = space
max_line_length = 80

[{.pre-commit-config.yaml,pyproject.toml,setup.cfg}]
indent_size = 4
indent_style = space
